:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --lightest-green: #F3FEF6;
  --light-green: #C0EFCC;
  --green: #4CC870;
  --dark-green: #3A9E57;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
p{
  margin: 0;
}

.btn__subscribe{
  border: none;
  outline: none;
  background-color: var(--dark-green);
  padding: 10px 20px;
  color: #FFF;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.btn__unsubscribe{
  border: none;
  outline: none;
  border: 1px solid var(--dark-green);
  background-color: #FFF;
  padding: 10px 20px;
  color: #000;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}

.flex-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pb-10{
  padding-bottom: 10px;
}

.no-result{
  color: var(--light-green);
  font-size: 14px;
  font-style: italic;
}
